.section { background-color: white; border: 1px solid; padding: 5px 25px 5px 5px; max-width: 50rem; margin-bottom: 1rem; }
.section p:first-child, h3+p { margin-top:0; }
.section p:last-child { margin-bottom:0; }