h2,h3,h4 { margin-bottom: 0; }
h3 { margin:1.5rem 0 5px 0; border-bottom: 1px solid; }

.Articles { margin:1rem; }

.QuickNav { margin:1rem; position:fixed; padding:10px; background:#f1e6ab; }
.QuickNav a { font-size: 0.8em; color: #360909; }

.section { background-color: white; border: 1px solid; padding: 5px 25px 5px 5px; max-width: 50rem; margin-bottom: 1rem; }
.section p:first-child, h3+p, h4+p { margin-top:0; }
.section p:last-child { margin-bottom:0; }