h2 { margin-top: 0; }

.row {
	display: flex;
	flex-wrap: wrap;
}
.row.nowrap { flex-wrap: nowrap; }
.row.baseline { align-items: baseline; }

.hidden { display: none !important; }

.clickable { cursor: pointer; }

.pseudoBtn { cursor: pointer; }
.pseudoBtn:hover  { filter: brightness(1.2); }
.pseudoBtn:active { filter: brightness(0.8); }

button { cursor: pointer; }
button:hover  { filter: brightness(1.1); }
button:active { filter: brightness(0.8); }

.paragraph { padding: .5rem; }
.paragraph:not(:first-child) {
	margin-top: .5rem;
}

.PrefixIcon { font-family:cursive; font-size:14px; vertical-align: text-top; }