@keyframes appear {
  from {
    opacity: 0;
  }
}

/*------------------*/
/* Basic Item Frame */
.Item {
	border: 5px groove #ccc;
	background-color: white;
	color: black;
	/*border-radius: .5rem;*/
	margin: 5px;
	font-size: 14px;

	animation: appear .8s ease-in-out;
}

.ItemHeader {
	display: flex;
	background-color: black;
	font-size: 16px;
	color: white;
}

.rowTitle {
	width: calc(100% - 10px);
	padding: 2px 5px;
	border-top: 1px solid;
	background: #666666;
	color: white;
	font-weight: bold;
}
.rowField {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}
.rowField .title { margin-bottom: 1px;}
.rowField:not(:last-child) .tags { margin-bottom: 1px;}

.rowField .title {
	width: 60px;
	flex-shrink: 0;

	background-color: #bdbdbd;
	text-align: center;
	font-weight: normal;
}
.rowField .title { padding: 2px 0px; }
.rowField .value { padding: 2px 5px; width: 60px; }
.rowField .value.Short { width: 50px; }
.rowField .value.Long  { width: 170px; }

.rowField .title.dark { background: #666; color: white; }


/* Enemy Custom */
.Enemy-Item {
	max-width: 600px;
	min-width: 300px;
}
.Enemy-Level {
	padding: 5px 7px 0 3px;
	width: 34px;
	background-color: #2a305a;
	color: #bebfbb;
}
.Enemy-Type {
	width: 20px;
	padding: 3px;
	background-color: #2a305a;
}
.Enemy-Type.humanoid::after { content: url("../img/person.svg"); }
.Enemy-Type.beast::after { content: url("../img/wolf-head.svg"); }
.Enemy-Type.insect::after { content: url("../img/scarab-beetle.svg"); }
.Enemy-Type.machine::after { content: url("../img/robot-grab.svg"); }
.Enemy-Type.plant::after { content: url("../img/sprout.svg"); }
.Enemy-Type.undead::after { content: url("../img/chewed-skull.svg"); }
.Enemy-Type.eudemon::after { content: url("../img/spiked-dragon-head.svg"); }
.Enemy-Type.demon::after { content: url("../img/curled-tentacle.svg"); }
.Enemy-Name {
	padding: 3px 0;
	margin: 0 10px;
	background-color: black;
}
.Enemy-ManaReward {
	margin-left: auto;
	padding: 5px 10px 5px 5px;
	color: #bebfbb;
	font-size: 10px;
}

.Enemy-Infos { width: 100%; min-width: 300px; }
.Enemy-States { width: 100%; }
.Enemy-Rewards { width: 100%; min-width: 300px; }
.Enemy-Actions { width: 100%; min-width: 300px; border-top: 1px solid #666666; }

.Enemy-States .rowField { align-items: stretch; }
.Enemy-States .rowField .title { padding: 20px 0px; }
.Enemy-States .rowField .value { padding: 0px; text-align: center; }
.Enemy-States .rowField .subtitle { padding: 2px 0; margin-left: 1px; font-size: 12px;}
.Enemy-States .rowField .mainVal { margin: 2px 0 1px 0; font-size: 16px; }
.Enemy-States .rowField .fixVal { margin-bottom: 2px; font-size: 10px; }
.Enemy-States .rowField .doubleLayerVal { padding: 10px 0px; font-size: 16px; }

.Enemy-States .rowField .subtitle.green { background: #294629; color: #dee7e1; }
.Enemy-States .rowField .subtitle.purple { background: #502885; color: #dee7e1; }
.Enemy-States .rowField .subtitle.red { background: #7a1010; color: #dee7e1; }
.Enemy-States .rowField .subtitle.blue { background: #26397e; color: #dee7e1; }


/*.rowField.talent:not(:last-child) { border-bottom: 1px solid #c5c5c5; }*/
.rowField.talent { border-bottom: 1px solid #c5c5c5; }
.rowField.talent .title { width: 140px; background: #bdbdbd; font-size:13px; word-break:keep-all;}
.rowField.talent .tags { display: flex; }
.rowField.talent .value { width: 100%; }

.rowField.talent .tags .tag { padding: 2px 5px; margin: 0 0 0 2px; background: #e1e1e0; font-size: 12px; }


.rewardEntry { 
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	border-bottom: 1px solid #c5c5c5;
}
.rewardEntry .range { width: 45px; text-align: center; background: #ddd; padding:3px 2px; }
.rewardEntry .content { padding: 0px 5px;}


/* Basic Item-list Frame */
.Item-list {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;

	background: white;
	color: black;
	font-size: 14px;

	width: auto;
	border: 3px groove #ccc;
	margin: 0 5px;
}
.Item-list .fixWidth { flex-shrink:0; flex-grow:0; }
.Item-list .title {
	background: black; color: white;
	width: 160px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.Item-list .category {
	position: relative;
	margin: 0;
	padding: 0px 6px 0;

	background: #484848; color: #c9c9c9;
	font-size: 10px;
}
.Item-list .category:before {
	content: "";
	position: absolute;
	right: -6px;
	bottom: 0; top: 0;
	border-right: 0px;
	border-left: 6px solid #484848;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.Item-list .title .mainTitle {
	align-self: stretch; text-align: center;
	padding: 5px;
	font-size: 16px;
}
.Item-list .type {
	text-align: center;
	width: 40px;
	padding: 5px 5px;
}
.Item-list .red { background-color:#811c1c; color:white; }
.Item-list .green { background-color:#1f7a53; color:white; }
.Item-list .blue { background-color:#33699d; color:white; }
.Item-list .purple { background-color:#371c81; color:white; }
.Item-list .yellow { background-color:#9b7703; color:white; }
.Item-list .brown { background-color:#52361b; color:white; }

.Item-list .blockCell {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-right: 1px solid #6a6a6a;
	padding-bottom: 5px;
	width: 70px;
}
.Item-list .blockCell div { flex-grow: 1;}
.Item-list .blockCell div:before {
	display: block;
	font-size: 10px;
	width: 100%;
	background: #ccc; color: black;
	margin-bottom: 5px;
}
.Item-list .field { padding: 5px; align-self: center; max-width: 1000px; }


.Item-list.talent .mainTitle { text-align: left; padding-left: 10px; }
.Item-list.talent .blockCell .phase:before { content: "時機"; }
.Item-list.talent .blockCell .range:before { content: "距離"; }
.Item-list.talent .blockCell .target:before { content: "對象"; }
.Item-list.talent .blockCell .cost:before { content: "代價"; }

.Item-list.gear .mainTitle { text-align: left; padding-left: 10px; }
.Item-list.gear .blockCell .biggerTxt { font-size: 16px;}
.Item-list.gear .blockCell .value:before { content: "效果值"; }
.Item-list.gear .blockCell .require:before { content: "限制"; }
.Item-list.gear .blockCell .equip:before { content: "用法"; }
.Item-list.gear .blockCell .hit.phy:before { content: "命中"; }
.Item-list.gear .blockCell .hit.mgc:before { content: "發動"; }
.Item-list.gear .blockCell .dmg.phy:before { content: "物Ｄ"; }
.Item-list.gear .blockCell .dmg.mgc:before { content: "魔Ｄ"; }
.Item-list.gear .blockCell .spd:before { content: "行動值"; }
.Item-list.gear .blockCell .cost:before { content: "價格"; }
.Item-list.gear.upgrade .title { background: #3a4a58; }
.Item-list.gear.weapon .title { background: #483030; }
.Item-list.gear.weapon .property { display: flex; }
.Item-list.gear.weapon .property .tag { padding: 2px 5px; margin: 0 2px; background: #fbdcdc; }
