:root {
  --color-titleBack: #4A593D;
  --color-ContentBack: #D9CD90;
  
  --color-Black: #1C1C1C;
  --color-Gray-darker:  #404040;
  --color-Gray-lighter: #d3d3d3;
  --color-Green: #4A593D;
  --color-lightBrown: #a39382;

  --color-Blue: #2a75ff;
}

@font-face {
  font-family: "HanyiSenty";
  src: url("../fonts/HanyiSentyFoundation.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@keyframes navbar-appear {
  from { opacity: 0; }
}

/*==============
 * Body */
body {
  margin: 0;
  box-sizing: border-box;

  height: 100vh;
}

/*==============
 * Frame */
#FrameTitle {
  font-family: "HanyiSenty";
  font-size: 52px;
  font-weight: normal;
  text-shadow: 0.1em 0.1em 0em black;
  background-color: var(--color-titleBack);
  color: white;

  margin: 0;
  height: 70px;
  word-break: normal;
  overflow: hidden;
}

#FrameOuter {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 70px);
}

#FrameNavbar {
  display: flex;
  flex-direction: column;
  background: var(--color-Black);
  width: 160px;
  height: 100%;

  flex-grow: 0;
  flex-shrink: 0;
}

#FrameContent { 
  background: var(--color-ContentBack);
  height: 100%;
  overflow-y: hidden;

  flex-grow: 1;
}
#FrameContentHeader { 
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  background: var(--color-Black);
  padding: 10px 10px;
  min-height: 32px;
}
#ItemContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  height: calc(100%);
  overflow-y: auto;
}
#ItemContainer > *:last-child {margin-bottom: 80px;}
#ItemContainer.EnemyContainer { display: block; }


#NavbarToggleBtn {
  display: none;
  border: 1px white solid;
  border-radius: 2px;
  padding: 6px 11px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}
#NavbarToggleBtn::after { content: "=";}

/*==============
 * NavBar Object */
#FrameNavbarInner {
  padding: 10px 10px;
}
#FrameNavbarInner a { text-decoration: none; }
#FrameNavbarInner .navitem {
  text-align: center;
  padding: 5px 20px;
  margin-bottom: 10px;
  color: white;
  background: var(--color-Gray-darker);
}

@media only screen and (max-width: 650px) {
  #FrameTitle { font-size: 40px; height: 52px; }
  #FrameOuter { height: calc(100vh - 52px); }
  #FrameNavbar { display: none; }
  #FrameNavbar.show { display: flex; position: fixed; top:95px; animation: navbar-appear .2s ease-in-out; z-index:11; }
  #NavbarToggleBtn { display: block; }
}

/*==============
 * Page Tab Object */
#FrameContentHeader .PageTab {
  background: var(--color-Gray-lighter);
  padding: 5px 10px;
  margin: 0 5px 3px 5px;
  border-radius: 2px;
}
#FrameContentHeader .PageTab.active { background:var(--color-Blue); color:white; }
.Page {
  margin: 1rem;
}